@font-face {font-family: "Mija Regular";
  src: url("../resources/4fb2accf874593635afa99c122467fd6.eot"); /* IE9*/
  src: url("../resources/4fb2accf874593635afa99c122467fd6.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../resources/4fb2accf874593635afa99c122467fd6.woff2") format("woff2"), /* chrome、firefox */
  url("../resources/4fb2accf874593635afa99c122467fd6.woff") format("woff"), /* chrome、firefox */
  url("../resources/4fb2accf874593635afa99c122467fd6.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../resources/4fb2accf874593635afa99c122467fd6.svg#Mija W03 Regular") format("svg"); /* iOS 4.1- */
}
@font-face {font-family: "Mija Bold";
  src: url("../resources/7bd7f049ab12f7efc10d48e5fa57a618.eot"); /* IE9*/
  src: url("../resources/7bd7f049ab12f7efc10d48e5fa57a618.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../resources/7bd7f049ab12f7efc10d48e5fa57a618.woff2") format("woff2"), /* chrome、firefox */
  url("../resources/7bd7f049ab12f7efc10d48e5fa57a618.woff") format("woff"), /* chrome、firefox */
  url("../resources/7bd7f049ab12f7efc10d48e5fa57a618.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../resources/7bd7f049ab12f7efc10d48e5fa57a618.svg#Mija W03 Bold") format("svg"); /* iOS 4.1- */
}

* {
  box-sizing: border-box;
  color: black;
  font-family: "Mija Bold", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
}

.f-wrap {
  flex-wrap: wrap;
}

.bg-verylightgray {
  background: #cccccc;
}

.bg-lightgray {
  background: #aaaaaa;
}

.bg-gray {
  background: #777777;
}

.bg-boldgray {
  background: #444444;
}

.bg-veryboldgray {
  background: #222222;
}

.bg-black {
  background: #000000;
}

.fc-white {
  color: #ffffff;
}

.smashingnav {
  align-items: center;
  height: 100px;
}

.nav-items {
  justify-content: space-around;
  width: 100%;
}

.pad-20px {
  padding: 20px;
}

.pad-5px{
  padding: 5px;
}

.art1 {
  padding: 100px 60px;
  width: 50%;
}

.art {
  height: 750px;
  padding: 200px 60px;
  width: 50%;
}

.art::after {
  color: black;
  content: "→";
  font-size: 2.5rem;
  position: relative;
  top: 130px;
}

.colstyle {
  height: 500px;
  padding: 40px;
  width: 33.333333%;
}

.sixtypercent-col {
  background-color: black;
  border-radius: 10px;
  height: 600px;
  margin-left: 30px;
  padding: 50px 20px;
  text-align: center;
  width: 50%;
}

.fortypercent-col {
  background-color: silver;
  width: 40%;
}

.SmashingTV {  
  background-color: black;
  border-radius: 10px;
  color: white;
  margin: 0 auto;
  padding: 50px 200px;
  text-align: center;
  width: 95%;
}

.crazylink {
  margin: 100px auto;
  text-align: center;
}

.big-link {
  background-color: black;
  border-radius: 10px;
  color: white;
  margin: 0 auto;
  padding: 50px 150px;
  text-align:center;
  width: 95%;
}

.pot-week {
  height: 300px;
  padding: 50px;
  width: 100%;
}

.photo1 {
  float: left;
  height: 200px;
  margin-right: 50px;
  transform: rotate(-10deg);
  width: 200px;
}

.photo1:hover {
  transform: rotate(0);
}

nav ul li:hover {
  transform: scale(1.1);
}

.first-article-container h2 {
  height: 0;
  position: relative;
  text-align: center;
  top: 20px;
  width: 100%;
  z-index: 5;
}

.author-photo {
  background-color: #979797;
  border-radius: 5px;
  border: 3px solid black;
  display: inline-block;
  height: 60px;
  transform: rotate(-15deg);
  width: 60px;
}

.author-name {
  display: inline-block;
  font-size: 1.3rem;
  margin-left: 20px;
}

.author-name em {
  font-family: 'Mija Regular';
}

.f-regular {
  font-family: 'Mija Regular';
}

.f-light {
  font-weight: 100;
}

.f-lineh-1_5 {
  line-height: 1.5rem;
}

.capitalize {
  text-transform: uppercase;
}

.underline {
  text-decoration: underline;
}

.article-title {
  font-size: 2.8rem;
  padding: 20px 0;
}

.article-title span {
  display: inline-block;
  font-size: 1rem;
  padding-bottom: 10px;
  position: relative;
  top: -7px;
}

.hashtags span {
  display: inline-block;
  font-size: .65rem;
  position: relative;
  top: -7px;
}

.design-systems {
  padding: 100px 500px 0 200px;
}

.design-systems div {
  display: inline-block;
  height: 200px;
  left: 500px;
  position: relative;
  top: -220px;
  transform: rotate(-25deg);
  width: 150px;
  z-index: 999;
}

.design-systems div:hover {
  transform: rotate(0);
}

.liststylebullet li {
  list-style: disc inside none;
}

.listncolumn section {
  margin: 20px;
  width: 30%;
}

.listncolumn section:hover {
  transform: scale(1.1);
}

.scaleonhover:hover {
  transform: scale(1.1);
}

.redcat {
  display: inline-block;
  padding: 20px;
  text-align: center;
  width: 60%;
}

.fakeimage {
  display: inline-block;
  height: 200px;
  width: 300px;
}

.h-daysago {
  display: block;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 20px 0;
  text-transform: uppercase;  
}

.h-articletitle {
  display: block;
  font-size: 1.9rem;
  padding-bottom: 20px;
}

.p-authorname {
  padding-bottom: 20px;
}

.p-article-text {
  font-family: Georgia, serif;
  font-size: 1.3rem;
}

.article:hover {
  transform: scale(1.1);
}

.article-image {
  background: #cccccc;
  display: inline-block;
  height: 150px;
  width: 150px;
}

.button {
  border-radius: 10px;
  font-size: 20pt;
  margin: 30px 0;
  padding: 10px 20px;
}

footer {
  text-align: center;
}

.footer-li {
  font-size: 16pt;
  list-style: none;
  padding: 20px 12px;
}

.footer-li a {
  font-family: "Mija Regular";
}

.footer-li::before {
  color: red; 
  content: "\2022"; 
  display: inline-block; 
  font-weight: bold; 
  margin-left: -1em;
  width: 1em;
} 

.footer-ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 auto;
  width: 90%;
}

.input {
  background: white;
  background: rgba(0, 0, 0, 0);
  border: none;
  text-align: center;
}

.pad-top-20px {
  padding-top: 20px;
}

.footer-ul2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 auto;
}

.footer-ul2 li {
  padding: 10px 20px;
}

.pad-bottom-40px {
  padding-bottom: 40px;
}

.fakeimage2 {
  display: inline-block;
  height: 150px;
  margin: 20px auto;
  width: 250px;
}

.grid-container {
  align-items: flex-start;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: center;
}

.div-button1 {
  background: gray;
  margin: 0 auto;
  width: 400px;
}